@model HCL.Academy.Model.Project

@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var allProjects = Session["Projects"];
}
<div id="body">
    <section class="content-wrapper main-content clear-fix container">
        <h2>Projects</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
           
            <div class="form-horizontal">
                <div class="form-group">
                    <table class="table table-bordered admin-onbrdtble" id="tblProjects">
                        <thead>
                            <tr>
                                <th style="border:none">Add Project</th>
                                <th style="border:none"></th>
                                <th style="border:none"></th>
                            </tr>
                        </thead>
                        <tr>
                            <td><label>Project Name</label></td>
                            <td>@Html.EditorFor(model => model.projectName, new { htmlAttributes = new { @id = "projectName", @class = "form-control" } })</td>
                            <td><input type="submit" value="Submit" class="btn btn-default" /></td>
                        </tr>
                    </table>

                    @Html.ValidationMessageFor(model => model.projectName, "", new { @class = "text-danger" })
                    @Html.Partial("Index", allProjects)
                </div>


            </div>


            @*<script>
                    function AddProject() {
                        var PostData = {
                            project: $("#projectName").val()
                        };
                        console.log(JSON.stringify(PostData));
                        $.ajax({
                            type: "POST",
                            url: "/Project/AddProject",
                            contentType: "application/json;",
                            dataType: "",
                            data: JSON.stringify(PostData),
                            success: function (result) {
                                ShowSkills($('#dvUserId').text(), $('#userEmailSkill').html());
                            }
                    }
                </script>*@
        }
    </section>

</div>
