
@{
      Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/checklist.css" rel="stylesheet" />

<div id="body">
    <section class="content-wrapper main-content clear-fix container">
        <a class="btn back-top pull-right no-mrg" href="/Training/Training">Back</a>
        <h2>JAVA FullStack Development Training Plan</h2>
        <div class="competence-pan">
            <div class="competence-main checklist">
                <ul style="list-style-type:disc;list-style-position:inside;">
                    <li>SOLID</li>
                    <li>CLEAN CODE</li>
                    <li>TESTABLE CODE</li>
                    <li>UNIT TEST - MOCKS, INTEGRATION TESTS, BEST PRACTICES</li>
                    <li>PROGRAMMING BEST PRACTICES -
                        <ul style="list-style-type:circle;list-style-position:inside;">
                            <li>EXCEPTION HANDLING BEST PRACTICES</li>
                            <li>IMPORTANCE OF LOGGING AND BEST PRACTICES</li>
                            <li>SONAR</li>                           
                        </ul>
                    </li>
                    <li>ECLIPSE - STYLE GUIDE, SHORTCUTS</li>
                    <li>PENTEST</li>
                    <li>MAVEN/GRADLE</li>
                    <li>CI, CD – JENKINS/TEAMCITY</li>
                    <li>SPRING MVC</li>
                    <li>TDD/BDD</li>
                    <li>DATABASE BEST PRACTICES</li>
                    <li>GIT – BASICS</li>
                    <li>GIT ADVANCED – BRANCHING, MERGING</li>
                    <li>RELEASE MANAGEMENT</li>
                    <li>ARCHITECTURE BEST PRACTICES- MICROSERVICES</li>
                </ul>               
            </div>
        </div>
        <a class="btn back-top" href="/Training/Training">Back</a>
    </section>

</div>

