@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/checklist.css" rel="stylesheet" />

<div id="body">
    <section class="content-wrapper main-content clear-fix container">

        <a class="btn back-top pull-right no-mrg" href="/Training/Training">Back</a>
        <h2>OPS Training Plan</h2>
        @*<div class="competence-pan ing-bg">*@
        <div class="competence-pan">
            <div class="competence-main checklist">
                @*<h3></h3>*@
                <br />
                <p>ING Is a matured enterprise following DevOPS practices like CI/CD, tooling’s, automation etc. Every person who is part of ING needs to have a good understanding of the DevOps Tools and processes. We have created a learning plan for the Ops Training.  ING expects people who are part of the squads to be self-motivated and self-driven with no spoon class room trainings. We are following the same for our cross-training and learning approach.</p>
                <br />
                <h4>Learning  Plan:</h4>
                <ul>
                    <li>
                        <ul style="list-style-type:circle;list-style-position:inside;">
                            <li>You to please go through the below links and ensure you complete the trainings and exercises on time.</li>
                            <li>You will be provided an AWS instance (dedicated for you) to try and exercise these tools for 2 weeks as well.</li>
                            <li>Also, there will be twice a week checkpoint and issue resolution calls for each technology, where you can join and ask the queries.</li>
                            <li>On completion (as per the timelines), you need to complete the assessment in the assessment tool and pass the same in order to be positioned for a customer interview.</li>
                            <li>Along with the assessment tool result, you will be given an practical exercise that needs to be solved by applying these technologies.</li>
                        </ul>
                    </li>
                </ul>
                <table class="table table-bordered admin-onbrdtble">
                    <tr>
                        <td>Day 1/2</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>CI/CD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Git</td>
                        <td>http://devopscoe.demos.hclets.com/Trainings/gitbasics/</td>
                    </tr>
                    <tr>
                        <td>Maven</td>
                        <td>http://devopscoe.demos.hclets.com/Trainings/Maven/</td>
                    </tr>
                    <tr>
                        <td>Jenkins</td>
                        <td>http://devopscoe.demos.hclets.com/Trainings/jenkins/</td>
                    </tr>
                    <tr>
                        <td>Sonar</td>
                        <td>http://devopscoe.demos.hclets.com/Trainings/Sonar/</td>
                    </tr>
                    <tr>
                        <td>Nexus</td>
                        <td>http://devopscoe.demos.hclets.com/Trainings/Nexus/</td>
                    </tr>
                    <tr>
                        <td>Nolio or GoCD or <br />Udeploy</td>
                        <td>http://devopscoe.demos.hclets.com/Trainings/uDeploy/<br />http://devopscoe.demos.hclets.com/Trainings/GOCD/</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Day 3/4</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Selenium</td>
                        <td>http://devopscoe.demos.hclets.com/Trainings/Selenium/</td>
                    </tr>
                    <tr>
                        <td>TDD / BDD / ATDD for Java - Applicable for Java resources – Not mandatory but should be aware of TDD and BDD concepts.</td>
                        <td>ATDD - http://robotframework.org/#documentation, http://upflow.co/l/a4hQ/blog/mobile-app-testing-robot-framework</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>BDD - Cucumber</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Day 5</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Oracle / SQL / PLSQL</td>
                        <td>SQL and PLSQL Fundamentals</td>
                    </tr>
                    <tr>
                        <td>Day 6/7</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Shell scripting</td>
                        <td>https://www.pluralsight.com/courses/red-hat-enterprise-linux-shell-scripting-fundamentals</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Day 8/9</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>ELK</td>
                        <td>
                            http://devopscoe.demos.hclets.com/Trainings/ELK/
                            <br />
                            https://www.pluralsight.com/courses/centralized-logging-elastic-stack
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Day 10/11</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ansible</td>
                        <td>https://www.pluralsight.com/courses/docker-ansible-continuous-delivery</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>IT Operations</td>
                        <td>https://mva.microsoft.com/en-US/training-courses/modern-it-devops-to-itil-creating-a-complete-lifecycle-for-service-management-11410?l=3ISkQw4DB_1505094681</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Good to have</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Gatling</td>
                        <td>Performance testing tool</td>
                    </tr>
                    <tr>
                        <td>Graphite / Graphana</td>
                        <td>Monitoring tool</td>
                    </tr>
                    <tr>
                        <td>Nginx / Tomcat</td>
                        <td>Webserver / App server administration</td>
                    </tr>
                </table>



                @*<h3>Work Permit process for Netherland</h3>*@
                <h4>Access:</h4>
                <h5>Access to http://devopscoe.demos.hclets.com</h5>
                <p>To access anything on *.labs or *.demos, you need to set your pwd at https://login.common.hclets.com/login. Note this is not same as myhcl.com/email password. If still unable to login, contact hclets-admin@hcl.com</p>
                <h5>Access to pluralsight</h5>
                <ul style="list-style-type:decimal;list-style-position:inside">
                    <li>sign in to https://my.visualstudio.com/benefits </li>
                    <li>There is a Wizard below for Pluralsight.</li>
                    <li>Select and Click activate.</li>
                </ul>
                <br />
                <h4>USE Case Assessment:</h4>
                <ul style="list-style-type:disc;list-style-position:inside">
                    <li>Necessary tools installation needs to be done by yourself so you get comfortable with Linux for people who are new</li>
                    <li>
                        Creating a Jenkins pipeline with jobs configured to do the following
                        <ul style="list-style-type:circle;list-style-position:inside">
                            <li>Hooked to a git repository</li>
                            <li>Builds on commit</li>
                            <li>Runs static analyzer (SonarQube)</li>
                            <li>Introduce quality Gates (Fail the build on Violations)</li>
                            <li>Run functional tests (Fail the build when some test cases are failing)</li>
                            <li>Push build artefacts to repository</li>
                        </ul>
                    </li>
                    <li>
                        ELK Stack Implementation
                        <ul style="list-style-type:circle;list-style-position:inside">
                            <li>Create five different REST APIs which will emit a random number for each call</li>
                            <li>Ensure all the requests and responses are logged</li>
                        </ul>
                    </li>
                    <li>
                        Dashboard:
                        <ul style="list-style-type:circle;list-style-position:inside">
                            <li>Create dashboards to get requests over time, errored requests and country specific requests</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <a class="btn back-top" href="/Training/Training">Back</a>
    </section>
</div>