@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/checklist.css" rel="stylesheet" />

<div id="body">
    <section class="content-wrapper main-content clear-fix container">
        <a class="btn back-top pull-right no-mrg" href="/Training/Training">Back</a>
        <h2>TIBCO Training Plan</h2>
        <div class="competence-pan">
            <div class="competence-main checklist">
                <ul style="list-style-type:disc;list-style-position:inside;">
                    <li>Duration: 1 weeks</li>
                    <li>Pre-requisites: TIBCO BW, EMS, Admin</li>
                </ul>

                <h4>Week 1</h4>
                <ul style="list-style-type:disc;list-style-position:inside;">
                    <li>
                        Day 1
                        <ul style="list-style-type:circle;list-style-position:inside;">
                            <li>Introduction On BW 6</li>
                            <li>BW 5.x vs BW 6.x</li>
                            <li>Development Environment</li>
                            <li>Lunch Break </li>
                            <li>Practice on Topics covered on Day 1</li>
                        </ul>
                    </li>
                    <li>
                        Day 2
                        <ul style="list-style-type:circle;list-style-position:inside;">
                            <li>Doubt removal / Review Previous Topics</li>
                            <li>Application Development</li>
                            <li>RESTful Service</li>
                            <li>Web Services</li>
                            <li>Lunch Break </li>
                            <li>Practice on Topics covered on Day 2</li>
                        </ul>
                    </li>
                    <li>
                        Day 3
                        <ul style="list-style-type:circle;list-style-position:inside;">
                            <li>Doubt removal / Review Previous Topics</li>
                            <li>Configuring JDBC Drivers</li>
                            <li>Properties & Variables</li>
                            <li>Java Messaging Service(EMS)</li>
                            <li>Lunch Break </li>
                            <li>Practice on Topics covered on Day 3</li>
                        </ul>
                    </li>
                    <li>
                        Day 4
                        <ul style="list-style-type:circle;list-style-position:inside;">
                            <li>Doubt removal / Review Previous Topics</li>
                            <li>Using Groups & Loops</li>
                            <li>Invoking  Services</li>
                            <li>Using Conversation</li>
                            <li>Implementing Event Handlers</li>
                            <li>Lunch Break </li>
                            <li>Practice on Topics covered on Day 4</li>
                        </ul>
                    </li>
                    <li>
                        Day 5
                        <ul style="list-style-type:circle;list-style-position:inside;">
                            <li>Doubt removal / Review Previous Topics</li>
                            <li>Using Compensation</li>
                            <li>Testing & Debugging</li>
                            <li>Local Application Deployment</li>
                            <li>Lunch Break </li>
                            <li>Practice on Topics covered on Day 5</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <a class="btn back-top" href="/Training/Training">Back</a>
    </section>


</div>