<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Server=tcp:pkp.database.windows.net,1433;Initial Catalog=Academy25032019;Persist Security Info=False;User ID=prasenjit.p;Password=india@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <!--<add name="DBConnectionString" connectionString="Data Source=LP-5CD7102PTK\SQLEXPRESS;Initial Catalog=Academy08032019;Integrated Security=False;User ID=academyuser; Password=india@123;Trusted_Connection=False;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnectionString" connectionString="Server=tcp:wawaacademy.database.windows.net,1433;Initial Catalog=AcademyProd02052019;Persist Security Info=False;User ID=academyuser;Password=india@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DBConnectionString" connectionString="Server=tcp:ehiacademy.database.windows.net,1433;Initial Catalog=EHIAcademy;Persist Security Info=False;User ID=academyuser;Password=india@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=ehiacademyhubstorage;AccountKey=ngr6cpYW9uzJE9uTGSan23HHti3bvKXX/ILYX3IS3Y7edMDb4nCybd8M9pqoxWObdUYW2/x3M2nUqFNfprM9NQ==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=ehiacademyhubstorage;AccountKey=ngr6cpYW9uzJE9uTGSan23HHti3bvKXX/ILYX3IS3Y7edMDb4nCybd8M9pqoxWObdUYW2/x3M2nUqFNfprM9NQ==" />
  </connectionStrings>
  <appSettings>
    <add key="ClientName" value="HCL" />
    <add key="DATASTORE" value="SqlSvr" />
    <add key="StorageConStr" value="DefaultEndpointsProtocol=https;AccountName=ehiacademyhubstorage;AccountKey=ngr6cpYW9uzJE9uTGSan23HHti3bvKXX/ILYX3IS3Y7edMDb4nCybd8M9pqoxWObdUYW2/x3M2nUqFNfprM9NQ==;EndpointSuffix=core.windows.net" />
    <!--<add key="StorageConStr" value="DefaultEndpointsProtocol=https;AccountName=wawaacademyhubstorage;AccountKey=qO2yNrnhQlCwu+eRb0aQKCpeeYp6gqc8VlmNxygCNPNhfmJ3Iopq4tFqtRk3zoet8Ps1WmrdrJ2aSnhYuwC6AA==;EndpointSuffix=core.windows.net" />-->
    <add key="SendGridAPIKey" value="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" />
    <add key="SendEmailViaSendGrid" value="Yes" />
    <add key="LoggingEnabled" value="Yes" />
    <add key="URL" value="https://hclo365.sharepoint.com/sites/Academy/test" />
  </appSettings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>