<footer class="footer container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 align-left">
            <a href="https://www.hcltech.com/digital-analytics-services" target="_blank">
                <img src="/Images/digital-analytics-img.png" class="digit-rgtmrg">
            </a>
        </div>
        <div class="col-lg-6 col-sm-6 col-sm-6 align-center footertopmerge">
            <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i>2018 HCL Technologies Ltd. All Rights Reserved.</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 align-right">
            <p>
                <a href="https://www.hcltech.com/enterprise-productivity/empfinesse" target="_blank" data-toggle="tooltip" data-placement="bottom" title="EmpFinesse" data-original-title="EmpFinesse">
                    <img src="/Images/EF.png" class="epslogo">
                </a>
                A product of <a href="http://hcleps.azurewebsites.net" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Enterprise Productivity Suite" data-original-title="Enterprise Productivity Suite" class="epslink">EPS</a>
                <a href="http://hcleps.azurewebsites.net" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Enterprise Productivity Suite" data-original-title="Enterprise Productivity Suite">
                    <img src="/Images/ep-ico.png" class="epslogo">
                </a>
            </p>
        </div>
    </div>
</footer>